<a href="https://colab.research.google.com/github/keweiang/AISanomalydetection/blob/main/ToCreateData_all_track_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#use graduate.utm.my account

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import glob

all_data = pd.DataFrame()
for f in glob.glob("/content/drive/MyDrive/ShipMove/*.txt"):
    df = pd.read_csv(f, delimiter = ";",header=None, names = ['Date Time','Message ID', 'MMSI Number','Navigation Status','Rate of Turn','Speed Over Ground','Position Accuracy','Longitude','Latitude','Course Over Ground','Heading Angle','Timestamp','Channel of AIS','Repeat Indicator'])
    df=df[(df['Date Time']>= '2019-10-01') & (df['Date Time']<= '2019-10-04')]    #filter October 1 to October 4 data only -> 4 days data
    all_data = all_data.append(df,ignore_index=True)

In [ ]:
from google.colab import files
all_data.drop(['Message ID', 'Navigation Status','Position Accuracy','Repeat Indicator'], inplace=True, axis = 1)
all_data

,Date Time,MMSI Number,Rate of Turn,Speed Over Ground,Longitude,Latitude,Course Over Ground,Heading Angle,Timestamp,Channel of AIS
0,2019-10-01 03:57:29.643849,566241000,0,0.0,103.782597,1.274448,18.8,126,29,A
1,2019-10-01 04:09:28.716233,566241000,0,0.0,103.782650,1.274480,18.8,126,29,A
2,2019-10-01 04:15:28.319625,566241000,0,0.0,103.782645,1.274455,18.8,126,29,A
3,2019-10-01 04:34:07.182831,566241000,0,0.0,103.782647,1.274438,18.8,126,9,A
4,2019-10-01 04:36:07.206859,566241000,0,0.0,103.782602,1.274432,18.8,126,9,A
...,...,...,...,...,...,...,...,...,...,...
968771,2019-10-02 23:17:00.199384,248437000,251,0.0,103.872045,1.267475,96.3,29,0,A
968772,2019-10-03 01:34:59.761764,248437000,5,0.0,103.872008,1.267585,290.6,25,0,A
968773,2019-10-03 04:10:59.369565,248437000,251,0.0,103.872055,1.267527,340.1,31,59,A
968774,2019-10-03 04:52:58.641309,248437000,251,0.0,103.872040,1.267527,302.4,29,59,A
968775,2019-10-03 05:46:58.610344,248437000,0,0.0,103.872013,1.267545,96.5,40,59,A

In [ ]:
MMSI=all_data['MMSI Number'].unique()
print(MMSI)

[566241000 566218000 566282000 ... 563027900 248402000 248437000]

In [ ]:
# remove duplicates
all_data.drop_duplicates()      #6951 rows are removed

# filter data within Straits of Malacca and Singapore only
all_data=all_data[(((all_data['Longitude']>=103.4525)&(all_data['Longitude']<=104.3689))&((all_data['Latitude']>=1.1354)&(all_data['Latitude']<=1.6443)))|(((all_data['Longitude']>=98.025)&(all_data['Longitude']<=103.5121))&((all_data['Latitude']>=1.2107)&(all_data['Latitude']<=6.535)))]    
all_data      #485101 rows outside the region are removed

#filter speed (in knots)
all_data=all_data[(all_data['Speed Over Ground']<=216)]
all_data

,Date Time,MMSI Number,Rate of Turn,Speed Over Ground,Longitude,Latitude,Course Over Ground,Heading Angle,Timestamp,Channel of AIS
0,2019-10-01 03:57:29.643849,566241000,0,0.0,103.782597,1.274448,18.8,126,29,A
1,2019-10-01 04:09:28.716233,566241000,0,0.0,103.782650,1.274480,18.8,126,29,A
2,2019-10-01 04:15:28.319625,566241000,0,0.0,103.782645,1.274455,18.8,126,29,A
3,2019-10-01 04:34:07.182831,566241000,0,0.0,103.782647,1.274438,18.8,126,9,A
4,2019-10-01 04:36:07.206859,566241000,0,0.0,103.782602,1.274432,18.8,126,9,A
...,...,...,...,...,...,...,...,...,...,...
968771,2019-10-02 23:17:00.199384,248437000,251,0.0,103.872045,1.267475,96.3,29,0,A
968772,2019-10-03 01:34:59.761764,248437000,5,0.0,103.872008,1.267585,290.6,25,0,A
968773,2019-10-03 04:10:59.369565,248437000,251,0.0,103.872055,1.267527,340.1,31,59,A
968774,2019-10-03 04:52:58.641309,248437000,251,0.0,103.872040,1.267527,302.4,29,59,A
968775,2019-10-03 05:46:58.610344,248437000,0,0.0,103.872013,1.267545,96.5,40,59,A

In [ ]:
data_all_track = all_data['MMSI Number'].value_counts()
print(data_all_track)

563034080    8826
563032960    8382
563034810    7250
538001765    5794
205501000    5706
             ...
563067850       1
563068140       1
563040054       1
563069070       1
563029360       1
Name: MMSI Number, Length: 2244, dtype: int64

In [ ]:
from google.colab import files

data_all_track.to_csv("data_all_tracks.csv")
files.download("data_all_tracks.csv")